{% extends 'base.html' %}

{% block content %}
<h4>Recuperaci&oacute;n de contrase&ntilde;a enviado</h4>
<br>
<p>
    Le hemos enviado por email las instrucciones para recuperar la contrase&ntilde;a, si es que existe una cuenta con la direcci&oacute;n electr&oacute;nica que indic&oacute;. Deber&iacute;a recibirlas en breve.
</p>
<p>
    Si no recibe un correo, por favor aseg&uacute;rese de que ha introducido la direcci&oacute;n de correo con la que se registr&oacute; y verifique su carpeta de spam.
</p>
{% endblock %}
