{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
    <h4>Escriba la nueva contrase&ntilde;a</h4>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar mi contrase&ntilde;a</button>
    </form>
    {% else %}
    <h4>Recuperaci&oacute;n de contrase&ntilde;a fallida</h4>
    <br>
    <p>
        El Link es Inv&aacute;lido, posiblemente haya sido utilizado.
        Genere un nuevo requerimiento para Recuperar contrase&ntilde;a.
    </p>
    <br>
    <p><a href="{% url 'password_reset' %}">Recuperar contrase&ntilde;a</a></p>
    {% endif %}
{% endblock %}
